<!DOCTYPE html>
<html lang="pt-br">
	<head>
		<meta charset="utf-8"/>
		<title>Formulário de cadastro de Notícia</title>
	</head>
	<body>

		<h1>Adicionar notícia</h1>
		<br/>

		<% if (locals.validacoes) { %>
			<ul>
				<% validacoes.forEach((validacao)=> { %>
					<li><%= validacao.msg %></li>
				<% }) %>
			</ul>			
		<% } %>
		<form action="/noticias/salvar" method="POST"> 
			<label for="titulo">Titulo</label>
			<input id="titulo" type="text" name="titulo" placeholder="Titulo da Notícia"/>
			<br/>
			<label for="resumo">Resumo</label>
			<input id="resumo" type="text" name="resumo" placeholder="Resumo da Notícia"/>
			<br/>
			<label for="autor">Autor</label>
			<input id="autor" type="text" name="autor" placeholder="Autor da Notícia"/>
			<br/>
			<label for="data_noticia">Data dos fatos</label>
			<input id="data_noticia" type="date" name="data_noticia" placeholder="Data da Notícia"/>
			<br/>
			<label for="noticia">Notícia</label>
			<textarea id="noticia" name="noticia" rows="5" cols="30"></textarea>
			<br/>
			<input type="submit" value="Enviar"/>
		</form>

	</body>
</html>